{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us..</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to AutoParts Store</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis molestie ipsum sit amet
                    mattis. Curabitur quis scelerisque est. Donec rutrum, ex et elementum pulvinar, arcu nisi placerat
                    leo, ut commodo diam massa a dui. Mauris tortor turpis, mattis lobortis convallis sit amet, lobortis
                    non tellus. Etiam vel viverra neque. Nam aliquam tempor nunc. Morbi quam velit, convallis vel
                    facilisis a, egestas ac ex. Suspendisse auctor quam eget pellentesque cursus. Duis purus diam,
                    maximus ut nisi nec, mollis tristique odio. Sed molestie cursus neque at condimentum. In interdum
                    faucibus nunc, fringilla condimentum ipsum ullamcorper in. Nam scelerisque fringilla quam, a finibus
                    erat lobortis vitae.
                    <br><br>

                    Proin aliquam quam vel lacinia aliquam. Curabitur eleifend mauris erat, ac accumsan lacus rutrum
                    vitae. Ut posuere venenatis felis in luctus. Curabitur eu convallis leo, vitae dictum neque.
                    Maecenas ac massa quis nulla blandit varius et eu dolor. Nulla facilisi. Quisque malesuada metus a
                    leo congue finibus. Nulla iaculis, diam a facilisis tincidunt, nisi sem faucibus mi, rutrum aliquam
                    nunc est a augue. Morbi tempus felis libero, vel imperdiet urna vestibulum non. Proin ac euismod
                    erat, eu scelerisque urna.
                    <br><br>

                    Fusce non mi finibus, ullamcorper magna at, consectetur mi. Cras tincidunt, diam id consectetur
                    sodales, augue nibh tempus tortor, eget hendrerit lacus velit vitae odio. Mauris semper pulvinar
                    risus, ac fermentum velit congue at. Praesent sem enim, luctus sed pretium eget, accumsan vel lacus.
                    Donec non massa tellus. In risus orci, lacinia volutpat odio ut, congue faucibus ante. Proin
                    condimentum ullamcorper orci, vel varius augue. Vivamus auctor mi risus, eu ornare purus accumsan
                    id. Cras sagittis ex est, at cursus nunc pharetra ac. Phasellus urna magna, rutrum quis vestibulum
                    eu, hendrerit consequat massa. Praesent in mi vel mi sagittis fermentum.

                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}